%li{ "data-toggle": "tooltip", "data-placement": "bottom", title: "Calories" }
    %i.glyphicon.glyphicon-flash.text-warning
    #{meal.calories}
%li{ "data-toggle": "tooltip", "data-placement": "bottom", title: "Protein" }
    %i.glyphicon.glyphicon-fire.text-primary
    #{meal.protein}g
%li{ "data-toggle": "tooltip", "data-placement": "bottom", title: "Fat" }
    %i.glyphicon.glyphicon-piggy-bank.text-danger
    #{meal.fat}g
%li{ "data-toggle": "tooltip", "data-placement": "bottom", title: "Carbohydrates" }
    %i.glyphicon.glyphicon-grain.text-warning
    #{meal.carbohydrates}g